@model SchoolCategoryViewModel

@{
    ViewData["Title"] = "School Category Details";
    var message = string.Empty;
    if(TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
    }
}

<h2>@ViewData["Title"]</h2>
<hr>


<div class="col-xs-offset-1 col-xs-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            School Category Details
        </div>
        <div class="panel-body">
            <form asp-action="details" asp-controller="schoolcategories" method="POST" role="form">
                <div class="form-horizontal" style="padding-left:10px; padding-right:10px;">
                    <input type="hidden" asp-for="SchoolCategoryId" />
                    <input type="hidden" asp-for="RowVersion" />

                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if(!string.IsNullOrWhiteSpace(message))
                    {
                        <div class="alert alert-success">@message</div>
                    }

                    <div class="form-group">
                        <label class="control-label" asp-for="Description"></label>
                        <input type="text" class="form-control col-xs-10" asp-for="Description" placeholder="School category description" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save Changes" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').addClass('in');
        $('#collapseThree').removeClass('in');
        $('#collapseFour').removeClass('in');
        $('#collapseFive').removeClass('in');
    </script>
}
