@model IEnumerable<SubjectViewModel>

@{
    ViewData["Title"] = "Subjects' List";
}

<h2>Subjects' List</h2>
<hr>

<form asp-action="index" asp-controller="subjects" method="POST" role="form">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
            <span class="input-group-btn">
                <input class="btn btn-primary" value="Search" type="submit" />
            </span>
            <input type="text" class="form-control" id="search" name="search" value=@ViewData["search"] placeholder="Search for subject using subject description">
            </div>
        </div>
    </div>
</form>

<br>

@if(Model != null)
{
    <table class=" table table-striped table-condensed table-bordered table-responsive">
        <thead>
            <tr>
                <th class="col-xs-6">Subject</th>
                <th class="col-xs-6">Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var subject in Model)
            {
                <tr>
                    <td class="col-xs-6"><a asp-action="details" asp-route-id=@subject.SubjectId>@subject.Description</a></td>
                    <td class="col-xs-6"><a asp-route-action="category" asp-route="subjectcategory" asp-route-id=@subject.SubjectCategoryStub>@subject.SubjectCategory</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts
{
    <script type="text/javascript">
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').addClass('in');
        $('#collapseFour').removeClass('in');
    </script>
}
