@model SubjectCategoryViewModel

@{
    ViewData["Title"] = "Subject Category Details";
    var message = string.Empty;
    if(TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
    }
}

<h2>@ViewData["Title"]</h2>
<hr>

<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Subject Category Details
        </div>
        <div class="panel-body">

            <a asp-route="subjectcategory" asp-route-action="index" asp-route-controller="subjectcategory" class="btn btn-default">&laquo; Back to list</a>
            
            <form asp-action="category" asp-controller="subjectcategory" method="POST" role="form">
                <div class="form-horizontal" style="padding-left:10px; padding-right:10px;">
                    <input type="hidden" asp-for="SubjectCategoryId" />
                    <input type="hidden" asp-for="RowVersion" />

                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if(!string.IsNullOrWhiteSpace(message))
                    {
                        <div class="alert alert-success">@TempData["Message"]</div>
                    }

                    <div class="form-group">
                        <label class="control-label" asp-for="Description"></label>
                        <input type="text" class="form-control col-xs-10" asp-for="Description" placeholder="Description" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="Salary"></label>
                        <input type="text" class="form-control col-xs-10" asp-for="Salary" placeholder="Subject category salary" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save Changes" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $('#collapseOne').removeClass('in');
        $('#collapseTwo').removeClass('in');
        $('#collapseThree').addClass('in');
        $('#collapseFour').removeClass('in');
    </script>
}
