@model GradeViewModel

@{
    ViewData["Title"] = "New Teaching Grade";
}

<h2>@ViewData["Title"]</h2>
<hr>

<div class="col-xs-offset-1 col-xs-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            Teaching Grade Details
        </div>
        <div class="panel-body">
            <form asp-action="add" asp-controller="grades" method="POST" role="form">

                <a asp-controller="grades" asp-action="index" class="btn btn-default">&laquo; Back to list</a>

                <div class="form-horizontal" style="padding-left:10px; padding-right:10px;">                    
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label" asp-for="Name"></label>
                        <input type="text" class="form-control col-xs-10" asp-for="Name" placeholder="Teaching grade" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Add Grade" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>