@model IEnumerable<RegisterViewModel>

@{
    ViewData["Title"] = "Users";
}
<h2>Users</h2>
<hr />
<a asp-action="register" asp-controller="account" class="btn btn-default">Add User</a><br /><br />
<form asp-action="users" asp-controller="account" method="GET" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group">
                <span class="input-group-addon">Search for user</span>
                <input type="text" name="search" id="search" class="form-control" placeholder="Username, First name or Last name">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Search">
                </span>
            </div>
        </div>
        <table class="table table-condensed table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="col-sm-2">Firstname</th>
                    <th class="col-sm-2">Lastname</th>
                    <th class="col-sm-2">Username</th>
                    <th class="col-sm-3">Email</th>
                    <th class="col-sm-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model)
                {
                    <tr>
                        <td class="col-sm-2">@user.Firstname</td>
                        <td class="col-sm-2">@user.Lastname</td>
                        <td class="col-sm-2">@user.Username</td>
                        <td class="col-sm-3">@user.Email</td>
                        <td class="col-sm-3">
                            <a asp-controller="account" asp-action="userprofile" asp-route-id=@user.Username><i class="fa fa-list"></i>&nbsp;&nbsp;View Details</a>&nbsp;
                            <a asp-controller="account" asp-action="removeuser" asp-route-id=@user.Username><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete User</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>