@model IEnumerable<TimelineViewModel>

@{
    ViewData["Title"] = "Timeline Events";
}

<h2>Teacher: @Model.FirstOrDefault().Teacher</h2>
<hr>

<div class="col-xs-12 col-sm-10 col-md-10 col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            Timeline Events
        </div>
        <ul class="list-group">
            @foreach(var tlevent in Model)
            {
                <li class="list-group-item">
                    <p>@Html.Raw(tlevent.Details)</p>
                    <p class="small">@tlevent.RecordDate.ToString("dd, MMMM yyyy")</p>
                </li>
            }
        </ul>
    </div>
</div>

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            File Records
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a asp-action="file" asp-controller="teachers" asp-route-id=@Model.FirstOrDefault().TeacherId>Bio Data Details</a></li>
            <li class="list-group-item"><a asp-action="teacher" asp-controller="subjects" asp-route-id=@Model.FirstOrDefault().TeacherId>Subjects Taught</a></li>
            <li class="list-group-item"><a asp-action="teacher" asp-controller="timeline" asp-route-id=@Model.FirstOrDefault().TeacherId>Events Timeline</a></li>
        </ul>
    </div>
</div>
