@{
    ViewData["Title"] = "School Not Found";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">School requested not found.</h2>

<h3>Invalid School Request.</h3>
<p>
    School request was not successful due to one of the following reasons:
</p>
<ul>
    <li>No school ID has been supplied.</li>
    <li>School requested doesn't exist.</li>
    <li>Invalid school ID supplied.</li>
</ul>
