@{
    ViewData["Title"] = "Subject Not Found";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Subject requested not found.</h2>

<h3>Invalid Subject Request.</h3>
<p>
    Subject request was not successful due to one of the following reasons:
</p>
<ul>
    <li>No subject ID has been supplied.</li>
    <li>Subject requested doesn't exist.</li>
    <li>Invalid subject ID supplied.</li>
</ul>
