@{
    ViewData["Title"] = "Subject Category Not Found";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Subject category not found.</h2>

<h3>Invalid subject category Request.</h3>
<p>
    Subject category request was not successful due to one of the following reasons:
</p>
<ul>
    <li>No subject category ID has been supplied.</li>
    <li>Subject category requested doesn't exist.</li>
    <li>Invalid subject category ID supplied.</li>
</ul>
