@{
    ViewData["Title"] = "Teacher Not Found";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Teacher requested not found.</h2>

<h3>Invalid Teacher Request.</h3>
<p>
    Teacher request was not successful due to one of the following reasons:
</p>
<ul>
    <li>No teacher ID has been supplied.</li>
    <li>Teacher requested doesn't exist.</li>
    <li>Invalid teacher ID supplied.</li>
</ul>
