@{
    ViewData["Title"] = "Teacher MIS";
}

<h2>Teacher Management Information System</h2>
<hr>
<div class="col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6 col-lg-offset-2 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>Login Details</p>
        </div>
        <div class="panel-body">            
            <div class="container">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <input type="submit" class="form-control btn btn-default" value="Login" />
                            <a href="#" class="btn btn-primary">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>