@{
    ViewData["Title"] = "Teacher MIS";
}

<h2>Teacher Management Information System</h2>
<hr>

<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Teachers
        </div>
        <ul class="list-group">
            <li class="list-group-item">Teachers' List</li>
            <li class="list-group-item">Register Teacher</li>
            <li class="list-group-item">Subject Teachers</li>
            <li class="list-group-item">School Teachers</li>
        </ul>
    </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Schools
        </div>
        <ul class="list-group">
            <li class="list-group-item">Add New School</li>
            <li class="list-group-item">Schools' List</li>
        </ul>
    </div>
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Subjects
        </div>
        <ul class="list-group">
            <li class="list-group-item">Add Subject</li>
            <li class="list-group-item">Subjects' List</li>
        </ul>
    </div>
</div>
